body {
  background: linear-gradient(#fff465, #9198e5);
  padding: 10px;
  margin: 10px;
}

h1, h2, h3, h4, h5 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

option {
  zoom: 1.5;
}

#main_header {
  color: rgb(209, 24, 24);
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photo_div {
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}

.photo_div:nth-last-child(-n+2) {
  margin-bottom: 15px;
}

.overlay_div_top {
  position: absolute;
  cursor: pointer;
}

.overlay_div_bottom {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}

.article_title {
  inline-size: 470px;
  color: white;
}

.article_date {
  color: white;
}

.article_summary {
  color: white;
  margin: 0;
  inline-size: 470px;
}

.article_img {
  width: 500px;
  height: 500px;
  cursor: pointer;
}

#countries_select {
  width: 200px;
  height: 40px;
  margin-right: 20px;
}

#countries_select option {
  padding: 30px;
}

#pageSize_select {
  width: 200px;
  height: 40px;
  margin-right: 20px;
}